*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
}
#display {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 300px;
    margin: auto;
    display: flex;
}

#helloScreen {
    font-family: 'Lucida Sans Regular', sans-serif;
    text-align: center;
}

#enemyList{
    list-style-type: none;
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: start;
}

.chooseEnemy{
    font-family: 'Lucida Sans Regular', sans-serif;
    font-size: 35px;
    text-align: center;
}

.btn {
    display: inline-block;
}

#helloScreen, #chooseEnemyScreen, #yourTurnScreen, #dodgeScreen {
    height: min-content;
    margin: auto;
    text-align: center;
}

#yourTurnScreen p {
    margin: 0;
}

#yourTurnText {
    font-size: 3rem;
    font-weight: 600;
}

#hpBars {
    display: flex;
    justify-content: center;
}

#hpBars div {
    padding: 1em;
}

#hpBars p {
    font-weight: 800;
    font-size: 2rem;
}

.hitButton, .dodgeButton {
    margin: 0 1em;
    padding: .5em 2em;
    font-size: 1.5em;
}

#dodgeScreen p {
    font-weight: 600;
    font-size: 3rem;
}